<div class= "container-fluid welcome">
  <main>
    <p class= "display-1 text-center p-2">About</p>
    <div class="container p-1">
      <div class="row gy-5">
        <div class="col-6 col-sm-4 ">
          <img class="img-thumbnail" src= "https://media.istockphoto.com/photos/cavapoo-love-picture-id1287119339?b=1&k=20&m=1287119339&s=612x612&w=0&h=pzHSiVDWeDTmq1_4yDjMJOB38N4wxaFj_YeBd092FKw=" width="500px">
        </div>
        <div class="col-md-6 col-sm-3">
        <p class="display-6">Hi, my name is Isabel and I love to code and build things. I am currently a junior software developer working primarily on Ruby on Rails projects. I have also built projects using Javascript, React and Nodejs.</p>
        <p class="display-6">I have a fabulous cavapoo named Luna that is wonderful company while I code.</p>
        <br>
        <br>
        <br>
        </div>
      </div>
    </div>  
  </main>
</div>

