<div class container-fluid project-container>
  <h1 class= "display-3 text-center">About</h1>

<main class="container">
  <div class="row gy-5 gx-5">
    <div class="row gy-5">
      <div class="col">
        <img src="https://tapestrywebdev.com/css/assets/img/myAvatar6.svg"  width="500px">
      </div>
      <div class="col">
        <h4>Hi, my name is Isabel and I love to code and build things. I am currently a junior software developer working primarily on Ruby on Rails projects. I have also built projects using Javascript, React and Nodejs.</h4>
        <h4>I have a master’s degree in conservation biology and have had a career working for a state environmental agency.</h4>
      </div>
    </div>
  </div>
</main>
