<div class= "container-fluid welcome">
  <main>
    <p class= "display-1 text-center p-5">Contact</p>
    <div class="container p-1">
      <div class="row gy-5 gx-1 justify-content-center p-2 pb-1">
        <div class="col-3">
          <h1><%= mail_to "isabel@gmail.com", "EMAIL", class: "display-5 bi bi-envelope-fill" %></h1>
        </div>
        <div class="col-3">
          <h1> <%= link_to "LinkedIn", "https://www.linkedin.com/company/ten-forward", class: "display-5 bi bi-linkedin button" %></h1>
        </div>
        <div class="col-3">
          <h1><%= link_to "Facebook", "https://www.facebook.com/tenforwardconsulting", class: "display-5 bi bi-facebook button" %></h1>
        </div>
      </div>
    </div>
  </main>
</div>
