<div class container-fluid project-container>
  <h1 class= "display-3 text-center">Projects</h1>

<main class="container project-container">
  <div class="row gy-5">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center ">
      <div class="col align-self-center">
        <div class="card h-100">
          <img src="https://craft-manager.herokuapp.com/static/media/dmc2.7c7c710e.png" class="card-img-top" alt="weather app" width="10px">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Cross Stitch Materials Manager</h5>
              <p class="card-text">An inventory control app for cross stitch materials built with React and Material-UI.</p>
              <button type="button" class="btn btn-center btn-primary btn-lg">
                <%= link_to "View Project", "https://craft-manager.herokuapp.com/" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
<div class="container project-container gy-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://tapestrywebdev.com/css/assets/img/WeatherApp7.png" class="card-img-top" alt="weather app">
        <div class="card-body">
          <h5 class="card-title">Weather App</h5>
          <p class="card-text">Weather app built using Node.js and Mapbox and Darksky APIs. I followed a tutorial and customized the app.</p>
          <button type="button" class="btn btn-center btn-primary btn-lg">
            <%= link_to "View Project", "https://gutierrez-weather-app.herokuapp.com/" %>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tapestrywebdev.com/css/assets/img/RandomQuotes3.png" class="card-img-top" alt="random quote app">
        <div class="card-body">
          <h5 class="card-title">Random Quote Generator</h5>
          <p class="card-text">A random quote machine built with jQuery and Bootstrap. The goal of the project was to learn to use jQuery.</p>
                      <button type="button" class="btn btn-center btn-primary btn-lg">
            <%= link_to "View Project", "https://codepen.io/IsabelGPils/full/xoPXXx" %>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tapestrywebdev.com/css/assets/img/SurveyForm2.png" class="card-img-top" alt="survey form">
        <div class="card-body">
          <h5 class="card-title">Survey Form </h5>
          <p class="card-text">A survey form built with HTML5 and CSS. The focus was to learn to use form validation.</p>
          <button type="button" class="btn btn-center btn-primary btn-lg">
            <%= link_to "View Project", "https://codepen.io/IsabelGPils/full/vrgMgb" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


