<div class= "container-fluid welcome">
  <main>
    <p class= "display-1 text-center p-2 pt-3">Welcome</p>
    <div class="container ">
      <div class="row">
        <div class="col-4">
          <img class="img-thumbnail" src="https://tapestrywebdev.com/css/assets/img/myAvatar6.svg"  width="390px">
        </div>
        <div class="col-6">
          <p class="display-6">Hi, I'm Isabel. I'm a junior software developer.</p>
          <%= link_to "View My Work", "/portfolio", class: "btn btn-primary btn-lg mx-300"%>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </main>
</div>
