<%=  render "/layouts/header" %>
<div class= "container-fluid welcome">
  <main class="p-6 p-md-5 mb-4 rounded">
    <div class="row"> 
      <div class="col-3-md-3 px-0">
        <h1 class="display-4 fst-italic text-center" >I am a junior software developer</h1>
        <p class="lead my-3 text-center">with experience building things with JS React and Ruby on Rails.
          <span><button type="button" class="btn btn-center btn-primary btn-lg">View My Work</button></span>

        <img src="https://images.unsplash.com/photo-1559644705-9d56b56e1380?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"  width= "200px" class="img-thumbnail float-start" alt="ceramic tile">
        <img src="https://images.unsplash.com/photo-1613124152913-c180d8c1d740?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHRpbGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width= "200px" class="img-thumbnail float-start" alt="ceramic tile">
        <img src="https://images.unsplash.com/photo-1559644705-15d30e582900?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dGlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"  width= "200px" class="img-thumbnail float-start" alt="ceramic tile"> 

      </div>
    </div>  
  </main> 
<%= render "/layouts/footer" %>






















